<h2>Themes</h2>

<ng-container *ngIf="(wpThemes$ | async) as Themes">

    <div class="grid">  
        <mat-card class="mat-elevation-z4" *ngFor="let theme of Themes" style="padding: 5px">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{ theme.name }}</mat-card-title>
                    <mat-card-subtitle> </mat-card-subtitle>                        
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p [innerHTML]="theme.description"></p>
            </mat-card-content>
        </mat-card>
    </div>    
    
</ng-container>