<ng-container *ngIf="message.length > 0">
    {{ message }}
</ng-container>

<ng-container *ngIf="message.length === 0 && (wpTags$ | async) as Tags">

    <div class="container">
        <div class="row">
            <div *ngFor="let tag of Tags">
                <mat-card style="width: 18rem;padding: 5px;max-height: 300px;margin-bottom: 8px;" >
                    <mat-card-title-group>
                        <mat-card-title>{{ tag.name.rendered }}</mat-card-title>
                    </mat-card-title-group>
                    <mat-card-content>
                        <p [innerHTML]="tag.description.rendered"></p>
                    </mat-card-content>
                </mat-card>
                <br>
            </div>
        </div>
    </div>    
    
</ng-container>